{{> navbar}}

<div class="container">
    {{#each weatherStations}}
        <div class="row border">
            {{> liststations }}
            <div class="row">
                <div class="col">
                    <a href="/weatherstation/{{id}}" class="btn btn-primary mb-2">Details anzeigen</a>
                </div>
            </div>
        </div>
    {{/each}}
    <div class="row">
        {{> addStation}}
    </div>
</div>