{{> welcomenavbar}}

<div class="container"> 
  <div class="row">
    <div class="col-6">
      <img src="/images/weather_1.jpg" alt="Weather Image" class="img-fluid">
    </div>
    <div class="col-6">
      {{> login}}
    </div>
  </div>
</div>